#customize-control-layout .radio-button-label {
    width: 50% !important;
    display: inline-block;
    float: left;
}

#customize-control-layout img {
    max-width: 90% !important;
    margin-bottom: 10px;
}

.image_radio_button_control .radio-button-label > input:checked + img {
	border: 3px solid #3F5866 !important;
}